.modal{
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_container{
    width: 50vh;
    background-color: rgb(255, 255, 255);
}
.modal_title{
    margin: 0;
}
.modal_header, .modal_footer{
    padding: 0.5rem;
}

.modal_body{
    border-top: 1px solid grey;
    border-bottom: 1px solid gray;
}